functionsDirectory = "/Users/samoakes/githubprojects/cybernex/netlify/functions"
functionsDirectoryOrigin = "config-v1"
redirectsOrigin = "config"
headers = []

[git]
clean = true
fetchDepth = 1.0
lfs = false

[functions]

[functions."*"]
external_node_modules = ["@supabase/supabase-js"]

[[plugins]]
origin = "ui"
package = "@netlify/plugin-lighthouse"

[plugins.inputs]

[[plugins]]
origin = "config"
package = "@netlify/plugin-nextjs"

[plugins.inputs]

[build]
publish = "/Users/samoakes/githubprojects/.next"
publishOrigin = "config"
commandOrigin = "config"
command = "npm install && npm run build"
functions = "/Users/samoakes/githubprojects/cybernex/netlify/functions"

[build.environment]
NEXT_PUBLIC_RUNTIME = "netlify"
NEXT_TELEMETRY_DISABLED = "1"
NODE_VERSION = "18.x"
NEXT_PUBLIC_SITE_URL = "https://cybernexacademy.netlify.app"
NPM_VERSION = "9.x"
CI = "true"
NPM_FLAGS = "--no-optional"

[build.processing]
skip_processing = false

[build.processing.css]

[build.processing.html]
pretty_urls = true

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]