[build]
  command = "npm install && npm ls eslint && DEBUG=* NEXT_LINT=false NODE_OPTIONS=--max-old-space-size=3072 npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "18.18.0"
  NEXT_TELEMETRY_DISABLED = "1"
  NEXT_USE_SSR = "true"

[[plugins]]
  package = "@netlify/plugin-nextjs"
  [plugins.inputs]
    skipBuildCommand = true # Skip the build command since we run it ourselves

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[build.processing]
  css.minify = true
  js.minify = true
  html.pretty_urls = true
  images.compress = true

[context.production]
  environment = { NODE_ENV = "production" }
